<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div id="my">
			单价：<input type="text" v-model="message"/><br />
			数量：<input type="number" v-model="count"/><br />
			总价：{{ride}}
		</div>
	</body>
<script language="javascript" src="js/vue.js"></script>
	<script language="JavaScript">
		new Vue({
			el:"#my",
			data:{
				message:10,
				count:0
			},
			computed:{
				ride:function(){
					return this.message*this.count
				}
				
			}
			
		});
		
	</script>
</html>
